body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
}

#singapore-map {
    height: 70vh;
    background-color: #94d0cc;
}

/* Nav Bar */
.navbar-brand {
  color: #00405d !important;
  font-size: 15px;
}

.fas {
  font-size: 30px;
  padding: 5px;
  color: rgb(103, 139, 18);
}

h1 {
  font-size: 15px;
}

/* Mobile-first Responsive Design */
/* Ipad */
@media screen and (min-width:768px) {
    body {
      background-color: #faf1e6;  
    }
  }
  
  /* bigger tablet  */
  @media screen and (min-width:992px) {
    body {
      background-color: #e4efe7;  
    }
    h1 {
      font-size: 20px;
    }
  }
  
  /* laptop */
  @media screen and (min-width:1200px) {
    body {
      background-color: #fdfaf6;  
    }
    h1 {
      font-size: 30px;
    }
  }


/* Footer */
.prayer-time {
  color: #f55c47;
}

/* Social Media icons bar - follow their brand colors */
.social-media {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.fab {
  font-size: 30px;
  padding: 5px;
}

.fab:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  color: #3b5998;
}

/* Youtube */
.fa-youtube {
  color: #cd201f;
}

/* Instagram */
.fa-instagram {
  color: #3f729b;
}

/* Twitter */
.fa-twitter {
  color: #55acee;
}

/* Whatsapp */
.fa-whatsapp {
  color: #43d854;
}