@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@300;400;700&display=swap');

body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

#singapore-map {
  height: 80vh;
  background-color: #94d0cc;
}

h1 {
  font-weight: 400;
  font-size: 1rem;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 0.8rem;
}

.marker-popup h1 {
  font-weight: 700;
  font-size: 1.1rem;
}

.marker-popup p {
  font-size: 0.9rem;
  
}

/* -------------------------------------------------- */
/* Nav Bar                                            */
/* -------------------------------------------------- */
.navbar-brand {
  color: #00405d !important;
}

.nav-link {
  font-size: 1rem;
}

.dropdown-item {
  font-size: 0.8rem;
}

/* icon colors and size */
.fas {
  font-size: 30px;
  padding: 8px;
  color: #678B12;
}

/* Fontawesome icons in Leaflet marker popups */
.fas-popup {
  font-size: 15px;
  color: black;
}

/* -------------------------------------------------- */
/* Animation on Home Icons                            */
/* -------------------------------------------------- */
.stage {
  /* border-bottom: 1px dashed blue; */
  /* border-top: 1px dashed blue; */
  display: flex;
  align-items: center;
  height: 60px;
}

.box {
  align-self: flex-end;
  /* border: 1px solid red; */
  height: 40px;
  width: 100%;
  margin: 0 auto 0 auto;
  animation-duration: 2s;
  animation-iteration-count: 4;
  transform-origin: bottom;
}

.bounce:hover {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes bounce {
  0%   { transform: scale(1,1) translateY(0); }
  10%  { transform: scale(1.1, 0.9) translateY(0); }
  30%  { transform: scale(0.9, 1.1) translateY(-20px); }
  50%  { transform: scale(1.05,0.95) translateY(0); }
  57%  { transform: scale(1,1) translateY(-3px); }
  64%  { transform: scale(1,1) translateY(-5px); }
  100% { transform: scale(1,1) translateY(0); }
}

/* -------------------------------------------------- */
/* Footer styles                                      */
/* -------------------------------------------------- */
/* Footer */
.my-footer p {
  font-weight: 300;
}

.my-footer h1 {
  margin-bottom: 0 !important;
}

.prayer-time {
  color: #f55c47;
}

/* -------------------------------------------------- */
/* Social Media icons bar - follow their brand colors */
/* -------------------------------------------------- */
.social-media {
  margin: auto 0;
  display: flex;
  align-self: center; /* vertical */
  justify-content: center; /* horizontal */
}

.fab {
  font-size: 30px;
  padding: 5px;
}

.fab:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  color: #3b5998;
}

/* Youtube */
.fa-youtube {
  color: #cd201f;
}

/* Instagram */
.fa-instagram {
  color: #3f729b;
}

/* -------------------------------------------------- */
/* Mobile-first Responsive Design                     */
/* -------------------------------------------------- */
/* Ipad */
@media screen and (min-width:768px) {
  body {
    background-color: #faf1e6;  
  }
  .stage {
    width: 200px;
  }
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .dropdown-item {
    font-size: 1rem;
  }
}

/* bigger tablet  */
@media screen and (min-width:992px) {
  body {
    background-color: #e4efe7;  
  }

  #singapore-map {
    height: 70vh;
  }
}

/* laptop */
@media screen and (min-width:1200px) {
  body {
    background-color: #fdfaf6;  
  }

  h1 {
    font-size: 2rem;
  }
}
